

<%= render partial: "games/board" %>

<%= link_to "Forfeit", @games,  :method => :delete, data: { confirm: 'Are you sure you want to forfeit?'}, class: 'btn btn-secondary btn-lg'%>


<button id="castleQueenside" class="btn btn-secondary btn-lg" >Castle Queenside</button>
<button id="castleKingside" class="btn btn-secondary btn-lg" >Castle Kingside</button>

