<div class="outer">
 <p>this is the outer div - could be a title, user info display, buttons or something</p>
  <div class="middle">
  <p>this is the middle div - could be more information (maybe display "A - H" horizontally)</p>
    <div class="inner">
    <p>this is the inner div - this could display "1 - 8" vertically or whatever</p>

      <table>
        <% 8.times do |row_index| %>
          <tr>
            <% 8.times do |col_index| %>
              <td>
                <%= piece_image('pawn','white') %>
              </td>
            <% end %>
          </tr>
        <% end %> 
      </table>
      
    </div>
  </div>
</div>

<%= link_to "Forfeit", @games,  :method => :delete, data: { confirm: 'Are you sure you want to forfeit?'}, class: 'btn btn-secondary btn-lg'%>

