<table>
  <% (0..7).reverse_each do |row| %>
    <tr>
      <% (0..7).each do |column| %>

        <% class_highlight = piece_in_row_and_column?(@selected_piece, row, column) ? 'highlighted' : "" %>
        <td class="<%= class_highlight %>" data-column=<%= column %> data-row=<%= row %>> <!-- this gives a col and row to table cells-->
          
          
          
        <%= link_to_piece get_piece_at_click(@game.pieces, row, column) %>

        </td>

      <% end  %>
    </tr>
  <% end %> 
</table>


