<% if @game.is_check?(current_user) %>
  <div>In check</div>
  <% else %>
  <div>Not in check</div>
  <% end %>

<%= render partial: "games/board" %>

<%= link_to "Forfeit", @games,  :method => :delete, data: { confirm: 'Are you sure you want to forfeit?'}, class: 'btn btn-secondary btn-lg'%>

