// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chess-table {
  margin: auto;
  border: collapse;
  background: white;
  border: 3px solid #333;
  border-collapse: collapse;
}

.chess-data {
  width: 75px;
  height: 75px;
}

.chess-row:nth-child(odd) .chess-data:nth-child(even), .chess-row:nth-child(even) .chess-data:nth-child(odd) {
  background: black;
}
