// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  margin: auto;
  border-spacing: 0.5em;
  // border: collapse;
  background: white;
  // border: 1px solid transparent;
  border: 3px solid #333;
  border-collapse: collapse;
}

.chess-board {
  padding: 10px;
}

.highlighted {
  // padding: 50px;
  // margin: 10px;
  border: 3px solid orangered;
}

td {
  width: 75px;
  height: 75px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: black;
}
